:root {
    --insane_blue:#13293d;
    --hard_blue: #006494;
    --medium_blue:#247BA0;
    --light_blue: #1B98E0;
    --not_blue: #E8F1F2;
}

body {
    background-color: #13293d;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-fluid{
    background-color: #16324f
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top:1%;
    padding: 5%;
    border-radius:5px;
    box-shadow: 5px 5px 8px 5px #000000 ;
    width:90%;
    background-color: var(--light_blue);
    color: var(--not_blue);
}

.navbar-brand {
    font-size: 25px;
    color: var(--not_blue);
}

.navbar-brand:hover {
    border-radius: 10px;
    color: var(--light_blue);
}

.nav-link {
    font-size: 15px;
    color: var(--not_blue);
}

.nav-link:hover {
    border-radius: 10px;
    color: var(--light_blue);
}

.navbar {
    background-color: var(--insane_blue);
}

.container-paragraph-margin {
    padding-left:5em;
    padding-bottom: 20px;
}
