:root {
    --insane_blue:#13293d;
    --hard_blue: #006494;
    --medium_blue:#247BA0;
    --light_blue: #1B98E0;
    --not_blue: #E8F1F2;
}

body {
    background-image: url("https://i.redd.it/kvi1imz7ew341.jpg");
    background-color: #13293dCC;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
    background-color: #555555;
}
.container-fluid{
    background-color: #16324fCC;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top:1%;
    padding: 5%;
    box-shadow: 2px 2px 10px 2px #000000 ;
    width:90%;
    color: #FFFFFF
}

.navbar-brand {
    font-size: 25px;
    color: var(--not_blue);
}

.navbar-brand:hover {
    border-radius: 10px;
    color: var(--light_blue);
}

.nav-link {
    font-size: 15px;
    color: var(--not_blue);
}

.nav-link:hover {
    border-radius: 10px;
    color: var(--light_blue);
}

.navbar {
    background-color: var(--insane_blue);
}

.container-paragraph-margin {
    padding-left:5em;
    padding-bottom: 20px;
}
