:root {
    --darkgrey: var(--darkgray);
    --darkwhite: var(--darkwhite);
    --white: var(--white);
    --lightorange: 
}

.navbar {
    background-color: var(--darkgray);
}

.navbar .navbar-brand {
    color: var(--darkwhite);
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: var(--white);
}

.navbar .navbar-text {
    color: var(--darkwhite);
}

.navbar .navbar-text a {
    color: var(--white);
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: var(--white);
}

.navbar .navbar-nav .nav-link {
    color: var(--darkwhite);
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: var(--white);
}

.navbar .navbar-nav .dropdown-menu {
    background-color: var(--darkgray);
    border-color: var(--darkgray);
}

.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: var(--darkwhite);
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: var(--white);
    background-color: var(--darkgray);
}

.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: var(--darkgray);
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: var(--white);
    background-color: var(--darkgray);
}

.navbar .navbar-toggle {
    border-color: var(--darkgray);
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: var(--darkgray);
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: var(--darkwhite);
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: var(--darkwhite);
}

.navbar .navbar-link {
    color: var(--darkwhite);
}

.navbar .navbar-link:hover {
    color: var(--white);
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: var(--darkwhite);
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: var(--white);
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: var(--white);
        background-color: var(--darkgray);
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: var(--darkwhite);
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: var(--white);
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: var(--white);
        background-color: var(--darkgray);
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: var(--darkwhite);
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: var(--white);
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: var(--white);
        background-color: var(--darkgray);
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: var(--darkwhite);
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: var(--white);
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: var(--white);
        background-color: var(--darkgray);
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: var(--darkwhite);
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: var(--white);
}

#container {
    position: relative;
    text-align: center;
    color: white;
}

#frontText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-dark {
    background-color: var(--darkgray);
}